@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.92%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.92%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.92%;
        --primary: 0 0% 45.10%;
        --primary-foreground: 0 0% 98.04%;
        --secondary: 0 0% 96.08%;
        --secondary-foreground: 0 0% 9.02%;
        --muted: 0 0% 96.08%;
        --muted-foreground: 0 0% 44.31%;
        --accent: 0 0% 96.08%;
        --accent-foreground: 0 0% 9.02%;
        --destructive: 357.14 100% 45.29%;
        --destructive-foreground: 0 0% 96.08%;
        --border: 0 0% 89.80%;
        --input: 0 0% 89.80%;
        --ring: 0 0% 63.14%;
        --chart-1: 0 0% 45.10%;
        --chart-2: 0 0% 45.10%;
        --chart-3: 0 0% 45.10%;
        --chart-4: 0 0% 45.10%;
        --chart-5: 0 0% 45.10%;
        --sidebar: 0 0% 98.04%;
        --sidebar-foreground: 0 0% 3.92%;
        --sidebar-primary: 0 0% 9.02%;
        --sidebar-primary-foreground: 0 0% 98.04%;
        --sidebar-accent: 0 0% 96.08%;
        --sidebar-accent-foreground: 0 0% 9.02%;
        --sidebar-border: 0 0% 89.80%;
        --sidebar-ring: 0 0% 63.14%;
        --font-sans: 'Montserrat', sans-serif;
        --font-serif: 'Montserrat', sans-serif;
        --font-mono: 'Montserrat', sans-serif;
        --radius: 0rem;
        --shadow-2xs: 0px 1px 0px 0px hsl(0 0% 0% / 0.00);
        --shadow-xs: 0px 1px 0px 0px hsl(0 0% 0% / 0.00);
        --shadow-sm: 0px 1px 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
        --shadow: 0px 1px 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
        --shadow-md: 0px 1px 0px 0px hsl(0 0% 0% / 0.00), 0px 2px 4px -1px hsl(0 0% 0% / 0.00);
        --shadow-lg: 0px 1px 0px 0px hsl(0 0% 0% / 0.00), 0px 4px 6px -1px hsl(0 0% 0% / 0.00);
        --shadow-xl: 0px 1px 0px 0px hsl(0 0% 0% / 0.00), 0px 8px 10px -1px hsl(0 0% 0% / 0.00);
        --shadow-2xl: 0px 1px 0px 0px hsl(0 0% 0% / 0.00);
      }
      
      .dark {
        --background: 0 0% 3.92%;
        --foreground: 0 0% 98.04%;
        --card: 0 0% 9.80%;
        --card-foreground: 0 0% 98.04%;
        --popover: 0 0% 14.90%;
        --popover-foreground: 0 0% 98.04%;
        --primary: 0 0% 45.10%;
        --primary-foreground: 0 0% 98.04%;
        --secondary: 0 0% 14.90%;
        --secondary-foreground: 0 0% 98.04%;
        --muted: 0 0% 14.90%;
        --muted-foreground: 0 0% 63.14%;
        --accent: 0 0% 25.10%;
        --accent-foreground: 0 0% 98.04%;
        --destructive: 358.84 100% 69.61%;
        --destructive-foreground: 0 0% 14.90%;
        --border: 0 0% 21.96%;
        --input: 0 0% 32.16%;
        --ring: 0 0% 45.10%;
        --chart-1: 0 0% 45.10%;
        --chart-2: 0 0% 45.10%;
        --chart-3: 0 0% 45.10%;
        --chart-4: 0 0% 45.10%;
        --chart-5: 0 0% 45.10%;
        --sidebar: 0 0% 9.02%;
        --sidebar-foreground: 0 0% 98.04%;
        --sidebar-primary: 0 0% 98.04%;
        --sidebar-primary-foreground: 0 0% 9.02%;
        --sidebar-accent: 0 0% 14.90%;
        --sidebar-accent-foreground: 0 0% 98.04%;
        --sidebar-border: 0 0% 100%;
        --sidebar-ring: 0 0% 32.16%;
        --font-sans: 'Montserrat', sans-serif;
        --font-serif: 'Montserrat', sans-serif;
        --font-mono: 'Montserrat', sans-serif;
        --radius: 0rem;
        --shadow-2xs: 0px 1px 0px 0px hsl(0 0% 0% / 0.00);
        --shadow-xs: 0px 1px 0px 0px hsl(0 0% 0% / 0.00);
        --shadow-sm: 0px 1px 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
        --shadow: 0px 1px 0px 0px hsl(0 0% 0% / 0.00), 0px 1px 2px -1px hsl(0 0% 0% / 0.00);
        --shadow-md: 0px 1px 0px 0px hsl(0 0% 0% / 0.00), 0px 2px 4px -1px hsl(0 0% 0% / 0.00);
        --shadow-lg: 0px 1px 0px 0px hsl(0 0% 0% / 0.00), 0px 4px 6px -1px hsl(0 0% 0% / 0.00);
        --shadow-xl: 0px 1px 0px 0px hsl(0 0% 0% / 0.00), 0px 8px 10px -1px hsl(0 0% 0% / 0.00);
        --shadow-2xl: 0px 1px 0px 0px hsl(0 0% 0% / 0.00);
      }

  .theme {
        --font-sans: 'Montserrat', sans-serif;
        --font-mono: 'Montserrat', sans-serif;
        --font-serif: 'Montserrat', sans-serif;
        --radius: 0rem;
        --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
        --tracking-tight: calc(var(--tracking-normal) - 0.025em);
        --tracking-wide: calc(var(--tracking-normal) + 0.025em);
        --tracking-wider: calc(var(--tracking-normal) + 0.05em);
        --tracking-widest: calc(var(--tracking-normal) + 0.1em);
    }
  body {
    letter-spacing: var(--tracking-normal);
    @apply bg-background text-foreground;
    font-family: var(--font-sans), 'Montserrat', sans-serif;
    }

    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    table {
        @apply w-full table-auto border border-border rounded-t-md rounded-b-md overflow-hidden;
    }

    th {
        @apply px-4 py-2 text-left font-medium bg-muted/50 border-b border-border;
    }
   

    td {
        @apply px-4 py-2 border-b border-border;
    }

    tr:hover {
        @apply bg-muted/30;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

.skeleton {
    * {
        pointer-events: none !important;
    }

    *[class^="text-"] {
        color: transparent;
        @apply rounded-md bg-foreground/20 select-none animate-pulse;
    }

    .skeleton-bg {
        @apply bg-foreground/10;
    }

    .skeleton-div {
        @apply bg-foreground/20 animate-pulse;
    }
}

.ProseMirror {
    outline: none;
}

.cm-editor,
.cm-gutters {
    @apply bg-background dark:bg-zinc-800 outline-none selection:bg-zinc-900 !important;
}

.ͼo.cm-focused > .cm-scroller > .cm-selectionLayer .cm-selectionBackground,
.ͼo.cm-selectionBackground,
.ͼo.cm-content::selection {
    @apply bg-zinc-200 dark:bg-zinc-900 !important;
}

.cm-activeLine,
.cm-activeLineGutter {
    @apply bg-transparent !important;
}

.cm-activeLine {
    @apply rounded-r-sm !important;
}

.cm-lineNumbers {
    @apply min-w-7;
}

.cm-foldGutter {
    @apply min-w-3;
}

.cm-lineNumbers .cm-activeLineGutter {
    @apply rounded-l-sm !important;
}

.suggestion-highlight {
    @apply bg-blue-200 hover:bg-blue-300 dark:hover:bg-blue-400/50 dark:text-blue-50 dark:bg-blue-500/40;
}